@model DoAnNhom11.Models.Shop

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Shared/AdminLayout.cshtml";

}

<h1>Edit</h1>

<h4>Shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ShopId" />
            <div class="form-group">
                <label asp-for="TenCuaHang" class="control-label"></label>
                <input asp-for="TenCuaHang" class="form-control" />
                <span asp-validation-for="TenCuaHang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LienHe" class="control-label"></label>
                <input asp-for="LienHe" class="form-control" />
                <span asp-validation-for="LienHe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhDaiDien" class="control-label"></label>
                <input asp-for="AnhDaiDien" class="form-control" />
                <span asp-validation-for="AnhDaiDien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnhBia" class="control-label"></label>
                <input asp-for="AnhBia" class="form-control" />
                <span asp-validation-for="AnhBia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayTao" class="control-label"></label>
                <input asp-for="NgayTao" class="form-control" />
                <span asp-validation-for="NgayTao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShopCategoryId" class="control-label"></label>
                <select asp-for="ShopCategoryId" class="form-control" asp-items="ViewBag.ShopCategoryId"></select>
                <span asp-validation-for="ShopCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
