@using Microsoft.AspNetCore.Identity

@using Microsoft.AspNetCore.Mvc.Rendering
@using DoAnNhom11.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bán hàng</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/myLayout/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand">Trang bán hàng</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="myPartialViewContainer">
                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <nav class="vertical-nav">
            <ul>
                <li>
                    <button class="btn-dropdown">
                        <i class="fa fa-inbox"></i>
                        <strong>Quản lý sản phẩm</strong>
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="submenu">
                        <li><a asp-area="Seller" asp-controller="Products" asp-action="Index" asp-route-page="1">Sản phẩm đang bán</a></li>
                        <li><a asp-area="Seller" asp-controller="Products" asp-action="HiddenProducts" asp-route-page="1">Sản phẩm đã ẩn</a></li>
                        <li><a asp-area="Seller" asp-controller="Products" asp-action="SoldOutProducts" asp-route-page="1">Sản phẩm hết hàng</a></li>
                        <li><a asp-area="Seller" asp-controller="Products" asp-action="AddProduct">Thêm Sản Phẩm</a></li>
                    </ul>
                </li>
                <li>
                    <button class="btn-dropdown">
                        <i class="fa fa-list-alt"></i>
                        <strong>Quản lý đơn hàng</strong>
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="submenu">
                        <li><a asp-area="Seller" asp-controller="Orders" asp-action="Index" asp-route-page="1">Tất Cả</a></li>
                        <li><a asp-area="Seller" asp-controller="Orders" asp-action="OrdersNotConfirm" asp-route-page="1">Chờ Xác Nhận</a></li>
                        <li><a asp-area="Seller" asp-controller="Orders" asp-action="DeliveredOrders" asp-route-page="1">Đã Giao hàng</a></li>
                        <li><a asp-area="Seller" asp-controller="Orders" asp-action="CanceledOrders" asp-route-page="1">Đơn Hủy</a></li>
                        <li><a asp-area="Seller" asp-controller="Orders" asp-action="RequestReturnOrders" asp-route-page="1">Yêu cầu trả hàng</a></li>
                        <li><a asp-area="Seller" asp-controller="Orders" asp-action="ReturnedOrders" asp-route-page="1">Đã trả hàng</a></li>
                    </ul>
                </li>  
                <li>
                    <button class="btn-dropdown">
                        <i class="fa fa-list-alt"></i>
                        <strong>Quản lý Voucher</strong>
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="submenu">
                        <li><a asp-area="Seller" asp-controller="Vouchers" asp-action="Index" asp-route-page="1">Tất Cả</a></li>
                        <li><a asp-area="Seller" asp-controller="Vouchers" asp-action="Create" asp-route-page="1">Thêm Voucher</a></li>
                        <li><a asp-area="Seller" asp-controller="Vouchers" asp-action="VoucherUnamount" asp-route-page="1">Đã hết</a></li>
                        <li><a asp-area="Seller" asp-controller="Vouchers" asp-action="VoucherExpired" asp-route-page="1">Đã hết hạn</a></li>
                    </ul>
                </li>              
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("ShopOwner") || User.IsInRole("Developer")))
                {
                    <li>
                        <button class="btn-dropdown">
                            <i class="fa fa-cog"></i>
                            <strong>Quản lý shop</strong>
                            <i class="fa fa-angle-down"></i>
                        </button>
                        <ul class="submenu">
                            <li><a asp-area="Seller" asp-controller="Shops" asp-action="Edit">Thông tin shop</a></li>
                            <li><a asp-area="Seller" asp-controller="Shops" asp-action="Staffs">Nhân viên</a></li>
                            <li><a asp-area="Seller" asp-controller="Shops" asp-action="AddStaff">Thêm nhân viên</a></li>
                        </ul>
                    </li>
                }
                <li>
                    <button class="btn-dropdown">
                        <i class="fa fa-bar-chart-o"></i>
                        <strong>Dữ liệu</strong>
                        <i class="fa fa-angle-down"></i>
                    </button>
                    <ul class="submenu">
                        <li><a asp-area="Seller" asp-controller="Sales" asp-action="OrderAnalysis">Phân tích đơn hàng</a></li>
                        <li><a asp-area="Seller" asp-controller="Sales" asp-action="RevenueAnalysis">Phân tích doanh thu</a></li>
                        <li><a asp-area="Seller" asp-controller="Sales" asp-action="ProductAnalysis">Phân tích sản phẩm</a></li>
                        @* <li><a href="#">Doanh thu</a></li> *@
                        @* <li><a href="#">Số dư</a></li> *@
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="main-content">
            @RenderBody()
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.6/xlsx.full.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<style>
    .btn-dropdown {
        background: none;
        border: none;
    }

    header {
        position: sticky;
        background-color: #333;
        color: #fff;
        text-align: center;
        top: 0;
        z-index: 99
    }

    .vertical-nav {
        position: fixed;
        left: 0;
        width: 250px;
        height: calc(100% - 100px);
        background-color: white;
        color: #333;
        padding: 20px;
        z-index: 99;
        overflow-y: auto; /* Tạo thanh cuộn dọc nếu nội dung vượt quá kích thước */
    }

        .vertical-nav ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .vertical-nav li {
            margin-bottom: 10px;
        }

        .vertical-nav a {
            color: black;
            text-decoration: none;
        }

    .main-content {
        margin-left: 200px;
    }

    .submenu {
        display: block;
        padding-left: 20px;
    }

        .submenu li {
            margin-bottom: 5px;
            margin-left: 10px;
        }

        .submenu a {
            color: black;
            text-decoration: none;
        }
</style>

<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Seller/Shops/GetShopName',
            type: 'GET',
            success: function (result) {
                $('#myPartialViewContainer').html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });

    });
    document.addEventListener("DOMContentLoaded", function () {
        const menuItems = document.querySelectorAll('.vertical-nav > ul > li');
        menuItems.forEach(function (menuItem) {
            const buttondropdown = menuItem.querySelector('.btn-dropdown');
            buttondropdown.addEventListener('click', function () {
                const submenu = menuItem.querySelector('.submenu');
                const iconupdown = menuItem.querySelector('.fa fa-angle-up');
                if (submenu) {
                    if (submenu.style.display === 'none') {
                        submenu.style.display = 'block';
                    } else {
                        submenu.style.display = 'none';
                    }
                }
            });
        });
    });
</script>