@model List<ShoppingCart>

<div class="breadcrumbs">
    <ol class="breadcrumb">
        <h1>Giỏ Hàng Của Tôi</h1>
    </ol>
</div>
@foreach (var item in Model)
{
    
    @Html.Partial("_ShoppingCartPartial", item);
    <tr>
        <h1 style="text-align: center; color:red">Tổng đơn hàng: @StringFormat.CurrencyFormat(item.TotalPrice())</h1>
    </tr>

    <div style="text-align: right;">
        <p>
            <button type="button" class="btn btn-fefault cart">
                @if (item.Items.Count > 0)
                {
                    <a asp-action="CheckOut" asp-route-shopName="@item.shopName" style="color: white;" onmouseover="this.style.color='black'" onmouseout="this.style.color='white'">Đặt hàng</a>
                }
            </button>
        </p>
    </div>
}


<script>
    function updateCart(productId,shopName) {
        var quantity = document.getElementById('txtQuantity_' + productId).value;
        window.location.href = '/ShoppingCart/UpdateCart?id=' + productId +
            '&quantity=' + quantity + '&shopName=' + shopName;

    }
    function removeNegativeSign(productId) {
        var inputElement = document.getElementById('txtQuantity_' + productId);
        if (inputElement.value.includes("-") || inputElement.value.includes("0")) {
            inputElement.value = "1";
        }
    }

</script>
