
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<hr />
<div id="orderView">
    
</div>
<hr />
@Html.Partial("~/Areas/Seller/Views/Sales/_OrderChartPartial.cshtml")

<hr />
<div id="revenueView">

</div>
<hr />
<canvas id="myChart2" width="300" height="100"></canvas>
<hr />
<div id="productView">

</div>

<hr />

<script>
    $(document).ready(function () {
       
        $.ajax({
            url: '/Seller/Sales/OrderAnalyze',
            type: 'GET',
            success: function (result) {
                $('#orderView').html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
        $.ajax({
            url: '/Seller/Sales/RevenueAnalyze',
            type: 'GET',
            success: function (result) {
                $('#revenueView').html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });
        $.ajax({
            url: '/Seller/Sales/ProductAnalyze',
            type: 'GET',
            success: function (result) {
                $('#productView').html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });

    });   
</script>


@section Scripts {
    
    <script>
        $(document).ready(function () {
            
            $.ajax({
                url: '/Seller/Sales/GetRevenuesData',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var dates = [];
                    
                    var revenues = [];

                    data.forEach(function (item) {
                        var formattedDate = moment(item.date).format('DD/MM/YYYY');
                        dates.push(formattedDate);
                        revenues.push(item.revenue);
                    });
                    var ctx2 = document.getElementById('myChart2').getContext('2d');  
                    var myChart2 = new Chart(ctx2, {
                        type: 'bar',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Doanh thu',
                                data: revenues,
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                },
                error: function () {
                    alert('Có lỗi xảy ra trong quá trình lấy dữ liệu!');
                }
            });

        });
    </script>
}


