
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<hr />
@Html.Partial("~/Areas/Seller/Views/Sales/_ProductChartPartial.cshtml")
<hr />
<div id="productView">
    <div class="loader"></div>
</div>


<script>
    $(document).ready(function () {

        $.ajax({
            url: '/Seller/Sales/ProductAnalyze',
            type: 'GET',
            success: function (result) {
                $('#productView').html(result);
            },
            error: function (error) {
                console.log(error);
            }
        });

    });
</script>





