@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>Thông tin cá nhân</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" enctype="multipart/form-data">

<div class="row">
    <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label">Tên Đăng Nhập</label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Điền số điện thoại của bạn"/>
                <label asp-for="Input.PhoneNumber" class="form-label">Số Điện Thoại</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" placeholder="Điền email của bạn"/>
                <label asp-for="Input.Email" class="form-label">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" placeholder="Điền tên của bạn" />
                <label asp-for="Input.FullName" class="form-label">Họ Tên</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Address" class="form-control" placeholder="Điền địa chỉ của bạn" />
                <label asp-for="Input.Address" class="form-label">Địa chỉ</label>
                <span asp-validation-for="Input.Address" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-danger">Lưu Thông Tin</button>
    </div>
    <div class="col-md-4 text-center">
            <img id="previewImage" src="@ViewData["Avatar"]" width="200" height="200" style="margin:20px;border-radius: 50%;">
        <br />
        <button type="button" id="openButton" onclick="openImageBox()" style="padding: 5px 10px;" class="btn btn-secondary"><icon class="fa fa-camera"></icon> Chọn Ảnh</button>
        <div class="form-group">
            <input type="file" name="imageUrl" class="form-control" id="imageInput" style="display:none;" />
        </div>
    </div>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
        var output = document.getElementById('previewImage');
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                output.src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        }
    });

    function openImageBox() {
        document.getElementById('imageInput').click();
    }

</script>