@model DoAnNhom11.Models.Product

@{
    ViewData["Title"] = "Create";


}
<input style="width:20px;height:20px" type="radio" name="formSelector" value="form1" onchange="toggleForm()" checked> Thêm thủ công
<input style="width:20px;height:20px" type="radio" name="formSelector" value="form2" onchange="toggleForm()"> Thêm tự động
<br>
<h2>Thêm Sản Phẩm</h2>

<form asp-action="AddProduct" method="post" enctype="multipart/form-data" id="form1">
    <div class="form-group">
        <label asp-for="TenSp" class="control-label"></label>
        <input asp-for="TenSp" class="form-control" />
        <span asp-validation-for="TenSp" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="MoTa" class="control-label"></label>
        <input asp-for="MoTa" class="form-control" />
        <span asp-validation-for="MoTa" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ThongSo" class="control-label"></label>
        <input asp-for="ThongSo" class="form-control" />
        <span asp-validation-for="ThongSo" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GiaNhap" class="control-label"></label>
        <input asp-for="GiaNhap" class="form-control" />
        <span asp-validation-for="GiaNhap" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="GiaBan" class="control-label"></label>
        <input asp-for="GiaBan" class="form-control" />
        <span asp-validation-for="GiaBan" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SoLuongCon" class="control-label"></label>
        <input asp-for="SoLuongCon" class="form-control" />
        <span asp-validation-for="SoLuongCon" class="text-danger"></span>
    </div>
    <div class="form-group" style="display:none">
        <label asp-for="DaAn"></label>
        <input asp-for="DaAn" type="checkbox" />
    </div>
    <div class="form-group">
        <label asp-for="PhanTramGiam" class="control-label"></label>
        <input asp-for="PhanTramGiam" class="form-control" />
        <span asp-validation-for="PhanTramGiam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductCategoryId" class="control-label"></label>
        <select asp-for="ProductCategoryId" class="form-control" asp-items="ViewBag.ProductCategoryId"></select>
    </div>
    <div class="form-group">
        <label asp-for="BrandId" class="control-label"></label>
        <select asp-for="BrandId" class="form-control" asp-items="ViewBag.BrandId"></select>
    </div>
    <div class="form-group" style="display:none">
        <label asp-for="ShopId" class="control-label"></label>
        <input asp-for="ShopId" class="form-control" value="@ViewBag.ShopId" />

    </div>

    <div class="form-group">
        <label asp-for="AnhDaiDien">Product Image</label>
        <input type="file" asp-for="AnhDaiDien" name="imageUrl" class="form-control" id="imageInput" />
        <br />
        <img id="previewImage" style="max-width:200px;display:none" alt="Image preview" />
    </div>
    <div class="form-group">
        <label asp-for="Images">Product Image</label>
        <input type="file" asp-for="Images" id="files" name="files" multiple accept="image/*">
        <div id="preview"></div>
        <br />
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>

<form asp-area="Seller" asp-controller="Products" asp-action="UploadProductFromExcel" enctype="multipart/form-data" method="post" id="form2" style="display:none">
    <div class="form-group">
        <label for="file">Chọn file Excel:</label>
        <input type="file" name="file" id="file" class="form-control" accept=".xlsx, .xls" onchange="previewFile()" />
    </div>
    
    <table class="table table-bordered" id="previewTable" style="display:none">
        <thead>
            <tr>
                <th>TenSp</th>
                <th>AnhDaiDien</th>
                <th>MoTa</th>
                <th>ThongSo</th>
                <th>GiaNhap</th>
                <th>GiaBan</th>
                <th>SoLuongCon</th>
                <th>PhanTramGiam</th>
                <th>ProductCategoryId</th>
                <th>BrandId</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>

@section Scripts {

    <script>
        function previewFile() {
            var file = document.getElementById("file").files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                var data = new Uint8Array(e.target.result);
                var workbook = XLSX.read(data, { type: 'array' });
                var firstSheet = workbook.Sheets[workbook.SheetNames[0]];
                var rows = XLSX.utils.sheet_to_json(firstSheet, { header: 1 });
                var table = document.getElementById("previewTable");
                table.style.display = "block";
                var tableBody = table.getElementsByTagName("tbody")[0];
                tableBody.innerHTML = "";

                for (var i = 1; i < rows.length; i++) {
                    var row = tableBody.insertRow(-1);
                    for (var j = 0; j < rows[i].length; j++) {
                        var cell = row.insertCell(-1);
                        if (j === 1) { 
                            var img = document.createElement("img");
                            img.src = rows[i][j];
                            img.style.width = "50px";
                            img.style.height = "50px";
                            cell.appendChild(img);
                        } else {
                            cell.innerHTML = rows[i][j];
                        }
                        
                    }
                }
            };
            reader.readAsArrayBuffer(file);
        }
    </script>
}
<script>
    function toggleForm() {
        var selectedForm = document.querySelector('input[name="formSelector"]:checked').value;
        var form1 = document.getElementById('form1');
        var form2 = document.getElementById('form2');

        if (selectedForm === 'form1') {
            form1.style.display="block";
            form2.style.display="none";
        } else {
            form1.style.display = "none";
            form2.style.display = "block";
        }
    }
    document.getElementById('imageInput').addEventListener('change', function (event) {
        var output = document.getElementById('previewImage');
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                output.src = e.target.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(this.files[0]);
        }
    });
    document.getElementById('files').addEventListener('change', function (event) {
        var files = event.target.files;
        var preview = document.getElementById('preview');

        preview.innerHTML = '';

        for (var i = 0; i < files.length; i++) {
            var file = files[i];
            var reader = new FileReader();

            reader.readAsDataURL(file);

            reader.onload = function (e) {
                var img = document.createElement('img');
                img.src = e.target.result;
                img.style.maxWidth = '200px';
                img.style.maxHeight = '200px';
                preview.appendChild(img);
            }
        }
    });
</script>

