@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data">

    <div class="row justify-content-center">
        <h2 style="text-align: center;">Đăng ký tài khoản mới</h2>

        <div class="col-md-4">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.FullName" class="form-control" aria-required="true" placeholder="FullName" />
                <label asp-for="Input.FullName">Họ tên</label>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Điền số điện thoại của bạn" />
                <label asp-for="Input.PhoneNumber" class="form-label">Số Điện Thoại</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div style="display: inline-block;">
                    <select id="province" name="province" onchange="loadDistricts(this.value)">
                    </select>
                </div>
                <div style="display: inline-block;">
                    <select id="district" name="district" onchange="loadWards(this.value)">
                        <option value="">Chọn quận/huyện</option>
                    </select>
                </div>
                <div style="display: inline-block;">
                    <select id="ward" name="ward" onchange="updateInput()" required>
                        <option value="">Chọn xã/phường</option>
                    </select>
                </div>
                <input name="specificAddress" placeholder="Địa chỉ cụ thể" required />

                <input class="form-control" asp-for="Input.Address" id="address" type="text" style="width:500px;display:none" />
            </div>
            <br />
            <div class="form-floating mb-3">
                <input asp-for="Input.UserName" class="form-control" aria-required="true" placeholder="UserName" />
                <label asp-for="Input.UserName">Tên đăng nhập</label>
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Mật khẩu</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Xác nhận mật khẩu</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-danger">Đăng ký</button>
        </div>
        <div class="col-md-4 text-center">
            <img id="previewImage" src="~/myLayout/images/home/avataruser.jpg" width="200" height="200" style="margin:20px;border-radius: 50%;">
            <br />
            <button type="button" id="openButton" onclick="openImageBox()" style="padding: 5px 10px;" class="btn btn-secondary"><icon class="fa fa-camera"></icon> Chọn Ảnh</button>
            <div class="form-group">
                <input type="file" asp-for="Input.Avatar" name="imageUrl" class="form-control" id="imageInput" style="display:none;" />
            </div>
        </div>
    </div>
</form>
<script src="~/js/fetchAddress.js" asp-append-version="true"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
<script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
        var output = document.getElementById('previewImage');
        if (this.files && this.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                output.src = e.target.result;
            };
            reader.readAsDataURL(this.files[0]);
        }
    });

    function openImageBox() {
        document.getElementById('imageInput').click();
    }

</script>
