@{
    ViewData["Title"] = "Orders";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Order>;
<h1 style="text-align:center">Đơn hàng đã hủy</h1>

@foreach (var item in Model)
{
    @Html.Partial("_OrderPartial", item)
}
<div class="center">
    @Html.PagedListPager(Model, page => Url.Action("CanceledOrders", new { page = page }))
</div>
<style>
    .center {
        display: flex;
        justify-content: center;
        height: 150%;
    }
</style>