@{
    ViewData["Title"] = "Orders";
}
@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<Order>;
<h1 style="text-align:center">Đơn hàng của shop</h1>

@foreach (var item in Model)
{
    @Html.Partial("_OrderPartial", item)
}

<div class="center" style="display: flex;
        justify-content: center;
        height: 150%;">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
</div>
